

body{
    font-family: "Poppins", sans-serif !important;
}

nav{
    background-color: rgb(5, 179, 199);
}
nav a{
    color: #ffffff !important;
}
nav a:active{
    color: #ffffff !important;
    font-weight: bold;
}



footer {
    text-align: center;
    background-color: #000000;
    padding: 2rem 0;
    color: #ffffff;
}

.alertaExito{
    font-size: 13px;
    margin: 0 !important;
    color:blue;
}

.alertaError{
    font-size: 13px;
    margin: 0 !important;
    color:red;
}